<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="dns-prefetch" href="https://cdn.cloudprotected.net">
    <link rel="icon" href="{{ store.favicon }}">
    <title>{{ store.name }} | {{ page_name }}</title>

    <link rel="stylesheet" href="https://cdn.cloudprotected.net/craftingstore/assets/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdn.cloudprotected.net/craftingstore/assets/css/themes/{{ store.theme }}.min.css">
    <link rel="stylesheet" href="https://cdn.cloudprotected.net/craftingstore/assets/css/store.min.css">
    <link rel="stylesheet" href="/assets/{{ store.assets_hash }}/style.css?v={{ store.updatedAt }}">
    {% if store.advertisements is defined and store.advertisements %}
    <script async data-no-instant src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script data-no-instant>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-3641858155756746",
            enable_page_level_ads: true
        });
    </script>
    {% endif %}
</head>

<body {% if store.background_url !=null %}style="background-image: url('{{ store.background_url }}')" {% endif %}>

<!-- container -->
<div class="container">

    <!-- header -->
    {% include header %}

    <!-- nav -->
    {% include navbar %}

    <!-- content -->
    <div class="row">
        <div class="col-lg-12 col-xs-12">

            {% if error is not null %}
            <div class="alert alert-warning">
                <ul>
                    <li>{{ error | raw }}</li>
                </ul>
            </div>
            {% endif %}

            {% block page %}
            {% endblock %}

        </div>
    </div>

    <script src="https://cdn.cloudprotected.net/craftingstore/assets/js/jquery.min.js" data-no-instant></script>
    <script src="https://cdn.cloudprotected.net/craftingstore/assets/js/bootstrap.min.js" data-no-instant></script>
    <script src="https://cdn.cloudprotected.net/craftingstore/stores/js/store.js" data-no-instant></script>

    <!-- footer -->
    {% include footer %}
</div>

</body>
</html>
