{% extends base %}

{% block page %}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-7">
                <b>Name:</b> {{ package.name }}<br>
                <b>Price:</b> {{ package.new_price|number_format(2, '.', ',') }} {% if package.price !=
                package.new_price %}
                <s>{{ package.price|number_format(2, '.', ',') }}</s>{% endif %} {{ store.currency }}
                <hr>
                {{ package.description | raw }}
            </div>
            <div class="col-md-5">
                <form method="POST" action="/payment" accept-charset="UTF-8">

                    {% if package.new_price > 0 %}
                    {% if store.enable_paypal %}
                    <div class="col-md-12">
                        <br>
                        <button type="submit" name="type" value="paypal"
                                class="btn btn-info btn-block">{{ language.paypal }}
                        </button>
                    </div>
                    {% endif %}

                    {% if store.enable_paygol %}
                    <div class="col-md-12">
                        <br>
                        <button type="submit" name="type" value="paygol"
                                class="btn btn-danger btn-block">{{ language.paygol }}
                        </button>
                    </div>
                    {% endif %}

                    {% if store.enable_paymentwall %}
                    <div class="col-md-12">
                        <br>
                        <button type="submit" name="type" value="paymentwall"
                                class="btn btn-warning btn-block">{{ language.paymentwall }}
                        </button>
                    </div>
                    {% endif %}

                    {% if store.enable_xsolla %}
                    <div class="col-md-12">
                        <br>
                        <button type="submit" name="type" value="xsolla"
                                class="btn btn-primary btn-block">{{ language.xsolla }}
                        </button>
                    </div>
                    {% endif %}

                    {% if store.enable_mollie is defined and store.enable_mollie %}
                    <div class="col-md-12">
                        <br>
                        <button type="submit" name="type" value="mollie"
                                class="btn btn-danger btn-block">{{ language.mollie }}
                        </button>
                    </div>
                    {% endif %}

                    {% else %}
                    <div class="col-md-12">
                        <br>
                        <button type="submit" name="type" value="free"
                                class="btn btn-warning btn-block">{{ language.free }}
                        </button>
                    </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}