{% extends base %}

{% block page %}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                {% if authenticationMethod == 'minecraft' %}
                <form method="POST" action="/login/{{ categoryToRedirect }}" accept-charset="UTF-8">
                    {% if mcName == null %}
                    <input name="mc_name" placeholder="{{ language.minecraft_name_placeholder }}" class="form-control" type="text" required="">
                    {% else %}
                    <input title="{{ mcName }}" value="{{ mcName }}" class="form-control" type="text" disabled>
                    <a href="/checkout/basket/forget">{{ language.change_minecraft_name }}</a>
                    {% endif %}
                    <hr>
                    <button type="submit" name="type" value="checkout" class="btn btn-primary btn-block"><i  class="fa fa-shopping-cart"></i> {{ language.buy_now }}</button>
                </form>
                {% else %}
                <p>{{ language.loginSteam }}</p>

                <a href="/auth/steam/login">
                    <img src="https://cdn.craftingstore.net/assets/shops/img/steam/login.png">
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
