{% extends base %}

{% block page %}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-7">
                <b>{{ language.name }}:</b> {{ package.name }}<br>
                <b>{{ language.price }}:</b>
                {% if package.priceCalculatedOriginal == package.priceCalculatedDiscounted %}
                    {{ package.priceCalculatedOriginal|number_format(2, '.', ',') }}
                {% else %}
                    <del>{{ package.priceCalculatedOriginal|number_format(2, '.', ',') }}</del> {{ package.priceCalculatedDiscounted|number_format(2, '.', ',') }}
                {% endif %} {{ store.currency }}
                <hr>
                {{ package.description | raw }}
            </div>
            <div class="col-md-5">
                <form method="POST" action="/checkout/{{ package.id }}{{ isSubscription ? '?subscription' : '' }}" accept-charset="UTF-8">
                    <div class="col-md-12">
                        <div class="form-group">
                            {% if mcName == null %}
                            <input name="mc_name" placeholder="{{ language.minecraft_name_placeholder }}"
                                   class="form-control" type="text" required="">
                            {% else %}
                            <input title="{{ mcName }}" value="{{ mcName }}" class="form-control" type="text"
                                   disabled>
                            <a href="/checkout/basket/forget">{{ language.change_minecraft_name }}</a>
                            {% endif %}
                        </div>
                    </div>
                    {% if package.own_price %}
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" name="price" placeholder="{{ language.ownPrice }}" class="form-control" required="">
                        </div>
                    </div>
                    {% endif %}

                    {% if package.variables|length > 0 %}
                        {% for variable in package.variables %}
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>{{ variable.name }}</label>
                                {# Type: Text #}
                                {% if variable.type is same as(1) %}
                                    <input type="text" name="variables[{{ variable.identifier }}]" placeholder="{{ variable.help_text }}" {% if variable.min is not null %} minlength="{{ variable.min }}" {% endif %} {% if variable.max is not null %} maxlength="{{ variable.max }}" {% endif %} class="form-control" required>

                                {# Type: Dropdown #}
                                {% elseif variable.type is same as(2) %}
                                    <select name="variables[{{ variable.identifier }}]" class="form-control" required>
                                        {% for option in variable.data %}
                                            <option value="{{ loop.index0 }}">{{ option.name }}</option>
                                        {% endfor %}
                                    </select>

                                {# Type: Alphabetic #}
                                {% elseif variable.type is same as(3) %}
                                    <input type="text" pattern="[a-zA-Z]+" name="variables[{{ variable.identifier }}]" placeholder="{{ variable.help_text }}" {% if variable.min is not null %} minlength="{{ variable.min }}" {% endif %} {% if variable.max is not null %} maxlength="{{ variable.max }}" {% endif %} class="form-control" required>

                                {# Type: Numeric #}
                                {% elseif variable.type is same as(4) %}
                                    <input type="number" name="variables[{{ variable.identifier }}]" placeholder="{{ variable.help_text }}" class="form-control" {% if variable.min is not null %} min="{{ variable.min }}" {% endif %} {% if variable.max is not null %} max="{{ variable.max }}" {% endif %} required>

                                {# Type: Alphanumeric #}
                                {% elseif variable.type is same as(5) %}
                                    <input type="text" pattern="[a-zA-Z0-9]+" name="variables[{{ variable.identifier }}]" placeholder="{{ variable.help_text }}" {% if variable.min is not null %} minlength="{{ variable.min }}" {% endif %} {% if variable.max is not null %} maxlength="{{ variable.max }}" {% endif %} class="form-control" required>

                                {# Type: Email #}
                                {% elseif variable.type is same as(6) %}
                                    <input type="email" name="variables[{{ variable.identifier }}]" placeholder="{{ variable.help_text }}" {% if variable.min is not null %} minlength="{{ variable.min }}" {% endif %} {% if variable.max is not null %} maxlength="{{ variable.max }}" {% endif %} class="form-control" required>

                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}

                    {% if package.userSelectsExecutingServer %}
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="userSelectsExecutingServer">{{ language.userSelectsExecutingServer }}</label>
                                <select class="form-control" id="userSelectsExecutingServer" name="userSelectsExecutingServer">
                                    {% for serverId, server in userSelectableServers %}
                                        <option value="{{ serverId }}">{{ server }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    {% endif %}

                    <div class="col-md-12">
                        <br>
                        <button type="submit" name="type" value="checkout" class="btn btn-primary btn-block"><i
                                class="fa fa-shopping-cart"></i> {{ language.add_to_card }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
