{% extends base %}

{% block page %}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-7">
                <b>Name:</b> {{ package.name }}<br>
                <b>Price:</b> {{ package.price|number_format(2, '.', ',') }} {{ store.currency }}
                <hr>
                {{ package.description | raw }}
            </div>
            <div class="col-md-5">
                <form method="POST" action="/checkout/{{ package.id }}" accept-charset="UTF-8">
                    <div class="col-md-12">
                        <input name="mc_name" placeholder="{{ language.minecraft_name_placeholder }}" class="form-control" type="text">
                    </div>
                    {% if package.own_price %}
                    <div class="col-md-12">
                        <br><input type="text" name="price" placeholder="{{ language.ownPrice }}"
                                   class="form-control" required="">
                    </div>
                    {% endif %}
                    {% if store.enable_discount %}
                    <div class="col-md-12">
                        <br><input type="text" name="coupon" placeholder="{{ language.coupon_placeholder }}" class="form-control">
                    </div>
                    {% endif %}
                    {% if store.enable_discount %}
                    <div class="col-md-12">
                        <br><input type="text" name="giftcard" placeholder="{{ language.giftcard_placeholder }}" class="form-control">
                    </div>
                    {% endif %}

                    {% if package.variables|length > 0 %}

                    {% for variable in package.variables %}
                    <div class="col-md-12"><br/>
                        <b>{{ variable.name }}</b>
                        <br><input type="text" name="variables[{{ variable.identifier }}]" placeholder="{{ variable.help_text }}" class="form-control" required>
                    </div>
                    {% endfor %}

                    {% endif %}

                    <div class="col-md-12">
                        <br>
                        <button type="submit" name="type" value="checkout" class="btn btn-primary btn-block"><i
                                class="fa fa-shopping-cart"></i> {{ language.checkout }}
                        </button>
                    </div>
                    <div class="col-md-12">
                        <input name="tos" type="checkbox" required> {{ language.agree }} <a href="/terms" target="_blank">{{ language.terms_of_service }}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}