{% extends base %}

{% block page %}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-7">
                <b>Name:</b> {{ package.name }}<br>
                <b>Price:</b>{% if cumulativeDiscount > 0 and package.price - cumulativeDiscount <= 0 %} {{ package.price|number_format(2, '.', ',') }} {% elseif cumulativeDiscount > 0 %} <strike>{{ package.price|number_format(2, '.', ',') }}</strike> {{ (package.price - cumulativeDiscount)|number_format(2, '.', ',') }} {% elseif package.discountAmount is defined and package.discountAmount > 0 %} <strike>{{ package.price|number_format(2, '.', ',') }}</strike> {{ (package.price - package.discountAmount)|number_format(2, '.', ',') }} {% elseif sale is empty %} {{ package.price|number_format(2, '.', ',') }} {% else %} <strike>{{ package.price|number_format(2, '.', ',') }}</strike> {{ (package.price -((package.price / 100) * sale.amount))|number_format(2, '.', ',') }} {% endif %}
                <hr>
                {{ package.description | raw }}
            </div>
            <div class="col-md-5">
                <form method="POST" action="/checkout/{{ package.id }}" accept-charset="UTF-8">
                    <div class="col-md-12">
                        {% if mcName == null %}
                        <input name="mc_name" placeholder="{{ language.minecraft_name_placeholder }}" class="form-control" type="text">
                        {% else %}
                        <input title="{{ mcName }}" value="{{ mcName }}" class="form-control" type="text" disabled>
                        <a href="/checkout/basket/forget">{{ language.change_minecraft_name }}</a>
                        {% endif %}
                    </div>
                    {% if package.own_price %}
                    <div class="col-md-12">
                        <br><input type="text" name="price" placeholder="{{ language.ownPrice }}"
                                   class="form-control" required="">
                    </div>
                    {% endif %}

                    {% if package.variables|length > 0 %}

                    {% for variable in package.variables %}
                    <div class="col-md-12"><br/>
                        <b>{{ variable.name }}</b>
                        <br><input type="text" name="variables[{{ variable.identifier }}]" placeholder="{{ variable.help_text }}" class="form-control" required>
                    </div>
                    {% endfor %}

                    {% endif %}


                    <div class="col-md-12">
                        <br>
                        <button type="submit" name="type" value="checkout" class="btn btn-primary btn-block"><i  class="fa fa-shopping-cart"></i> {{ language.add_to_card }}
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}