<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">{{ language.test }}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">{{ language.home }}</a></li>
                {% for category in categories %}
                {% if category.children %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {{ category.name }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% for category in category.children %}
                        <li><a href="/category/{{ category.id }}">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% else %}
                {% if category.main == 0 %}
                <li><a href="/category/{{ category.id }}">{{ category.name }}</a></li>
                {% endif %}
                {% endif %}
                {% endfor %}
                {% for page in pages %}
                <li><a href="/{{ page.slug }}">{{ page.name }}</a></li>
                {% endfor %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/checkout/basket">{{ language.shopping_basket }}</a></li>
            </ul>
        </div>
    </div>
</nav>