body {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.logo {
    height: 100px;
    text-align: center;
}

.logo img {
    height: 100px;
}

.header {
    margin: 30px 0;
}