Thank you for your purchase! This is the payment confirmation, you should receive your items shortly.<br/><br/>

If you do not receive any items within the next 10-15 minutes, please contact a staff member of the server, do not contact Mojang or CraftingStore.<br/><br/>

<b>Packages purchased:</b><br/>
{{ packagesString }}
<br/><br/>
<b>Information:</b><br/>
<b>Transaction ID:</b> {{ transactionId }}<br/>
<b>Total:</b> {{ paymentPrice }}<br/>
<b>Payment Method:</b> {{ paymentGateway }}<br/>
<b>Username:</b> {{ mcName }}<br/>
<b>Date:</b> {{ paymentDate }}<br/>

{% if hasDiscordCommands %}
<br/>
<b>Discord role(s)</b><br/>
You can use the command below to get your roles on the server's Discord. Just execute the command into the correct channel, and you will get your roles<br/><br/>
<b>{{ discordPendingCommand }}</b>
{% endif %}

{% if hasGiftCards %}
<br/>
<b>Your gift-card(s)</b><br/>
The package(s) you bought include gift-cards that you can use on the store, you can find the codes below.<br/><br/>
{{ giftcards }}
{% endif %}
